DirectoryIndex index.php index.html

RewriteEngine On

RewriteRule ^login\.html$ login.php [L,R=302]
RewriteRule ^register\.html$ register.php [L,R=302]
RewriteRule ^katalog\.html$ katalog.php [L,R=302]
RewriteRule ^dashboard_admin\.html$ admin-dashboard.php [L,R=302]
RewriteRule ^rendang\.html$ product.php?slug=rendang [L,R=302]
RewriteRule ^dashboard_admin\.php$ admin-dashboard.php [L,R=302]
RewriteRule ^rendang\.php$ product.php?slug=rendang [L,R=302]
RewriteRule ^Tambah_Makanan_Page\.php$ store-add-product.php [L,R=302]
